<div class="search_bar">
  <form action="/tasks" class="search-form">
    <div class="form-group has-feedback">
      <label for="search" class="sr-only">Search</label>
      <input type="text" class="form-control" name="search_input" id="search_input" placeholder="Serch tasks by key word" value="<%= params[:key_word] %>">
      <span class="glyphicon glyphicon-search form-control-feedback"></span>
    </div>
  </form>
</div>
