<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% if @task %>
          <%= render 'tasks/partials/task_form' %>
        <% end %>
      </div>
      <div class="comments_section">
        <% if @task.id %>
          <%= render 'tasks/partials/comments_section' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
