<div class="tasks_table">
  <table id="dtVerticalScrollExample" class="table table-borderless table-sm" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th class="done" scope="col"></th>
        <th class="task_title text-cente" scope="col"><%= name %></th>
        <th class="task_menu" scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% tasks.each do |task| %>
        <% if task.deadline < @date %>
          <%= render 'tasks/partials/task_row_delayed', { task: task } %>
        <% else %>
          <%= render 'tasks/partials/task_row', { task: task } %>
        <% end %>
      <% end  %>
    </tbody>
  </table>
</div>
